.navbar.navbar-default.navbar-fixed-top{
	border: 2px solid yellow;
	margin-top: 50px;
}
.sidebar.navbar-fixed-top{
	border: 2px solid yellow;
	margin-top: 0px;
}

@media (min-width: 768px) and (max-width: 998px){
	.navbar.navbar-default.navbar-fixed-top{
		border: 2px solid yellow;
	margin-top: 100px;
	}
	.sidebar.navbar-fixed-top{
		border: 2px solid yellow;
	margin-top: 150px;
	}
}

body {
	border: 2px solid yellow;
	margin: 0px;
	padding: 0px;
}
/* Custom navbar default: global*/
.navbar {
	border: 2px solid yellow;
	background-color: #608224;
	border-color: #527711;
}
/**/

.navbar.navbar-default{
	border: 2px solid yellow;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	margin: 0;
	border-radius: 0;
}
.navbar.navbar-default .navbar-brand {
	border: 2px solid yellow;
	color: #666;
	text-shadow: none;
	min-width: 150px;
}
.navbar.navbar-default .navbar-nav > li > a {
	border: 2px solid yellow;
	color: #666;
	text-shadow: none;
}
.navbar.navbar-default .navbar-nav > li > a:hover{ color: #acc47f; }
.navbar.navbar-default .navbar-nav > .active > a{
	border: 2px solid yellow;
	color: #fff;
	background-color: #acc47f;
}
.navbar.navbar-default .navbar-nav > .active > a:hover{
	border: 2px solid red;
	color: #608224;
	background-color: #acc47f;
}
.navbar.navbar-default .caret {
	border: 2px solid yellow;
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
.navbar.navbar-default .caret:hover {
	border: 2px solid yellow;
	border-top-color: #333;
	border-bottom-color: #333;
}

/* Custom sidebar menu */

/*Remove rounded coners*/
nav.sidebar.navbar { border: 2px solid yellow;
	border-radius: 0px; }
/*nav.sidebar, .main{
	border: 2px solid yellow;
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}*/

/* .....NavBar: Icon only with coloring/layout.....*/
/*small/medium side display*/
@media (min-width: 768px) {
	/*Center Brand*/
	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		border: 2px solid yellow;
	margin-left: 0px;
	}
	/*Center Brand*/
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
		border: 2px solid yellow;
	text-align: center;
		width: 100%;
		margin-left: 0px;
	}

	/*Center Icons*/
	nav.sidebar a{
		border: 2px solid yellow;
	padding-right: 13px;
		min-width: 100px;
	}

	/*custom sidebar nav*/
	nav.sidebar ul.nav.navbar-nav{
		border: 2px solid yellow;
	margin: 0;
	}
	nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		border: 2px solid yellow;
	color: white;
	}

	/*adds border top to first nav box */
	nav.sidebar .navbar-nav > li:first-child{
		border: 2px solid yellow;
	border-top: 1px #e5e5e5 solid;
	}

	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav > li{
		border: 2px solid yellow;
	border-bottom: 1px #e5e5e5 solid;
	}
	/*adds background on hover*/
	nav.sidebar .navbar-nav > li:hover{
		border: 2px solid yellow;
	color: #fff;
		background-color: #43600E;
	}
	/*removes border last element*/
	nav.sidebar .navbar-nav > li.last{
		border: 2px solid yellow;
	border-bottom: none;
	}

	/* Colors/style dropdown box*/
	nav.sidebar .navbar-nav .open .dropdown-menu {
		border: 2px solid yellow;
	position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		border: 2px solid yellow;
	padding: 0 0px 0 0px;
	}

	/*colors dropdown box text */
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		border: 2px solid yellow;
	color: #777;
	}

	/*O quanto o menu irá esconder á esquerda*/
	/*gives sidebar width/height*/
	nav.sidebar{
		border: 2px solid yellow;
	width: 200px;
		height: 100%;
		margin-left: -270px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}

	/*give sidebar 100% width;*/
	nav.sidebar li {
		border: 2px solid yellow;
	width: 100%;
	}

	/* Move nav to full on mouse over*/
	nav.sidebar:hover{
		border: 2px solid yellow;
	margin-left: 0px;
	}
	/*for hiden things when navbar hidden*/
	.forAnimate{
		border: 2px solid yellow;
	opacity: 0;
	}
}

/* .....NavBar: Fully showing nav bar..... */
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
	border: 2px solid yellow;
	color: #CCC;
	background-color: transparent;
}
nav:hover .forAnimate{ opacity: 1; }

/*---- FIM SLIDE MENU*/

.nav-side-menu {
	border: 2px solid #ADFF2F;
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #606468;
	position: fixed;
	top: 0px;
	width: 500px;
	height: 100%;
	color: #e1ffff;
}
.nav-side-menu .brand {
	border: 2px solid #778899;
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}
.nav-side-menu .toggle-btn {
	border: 2px solid #F0F8FF;
	display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
	border: 2px solid #FFFAF0;
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
	border: 2px solid yellow;
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
	border: 2px solid #FFF0F5;
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
	border: 2px solid #7FFFD4;
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
	border: 2px solid  	#00FFFF;
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
	border: 2px solid #ff9999;
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
	border: 2px solid #ffff99;
	background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
	border: 2px solid #00ccff;
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.nav-side-menu li {
	border: 2px solid #66ff66;
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
	border: 2px solid maroon;
	text-decoration: none;
	color: #fff;
}
.nav-side-menu li a i {
	border: 2px solid lightgreen;
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}
.nav-side-menu li:hover {
	border: 2px solid white;
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
@media (max-width: 767px) {
	.main{
		border: 2px solid lightblue;
	position: absolute;
		width: calc(100%); /*keeps 100% minus nav size*/
		height: calc(100% - 50px); /*keeps 100% minus nav size*/
		margin-left: 0px;
		margin-top: 50px;
		float: right;
	}
	.nav-side-menu {
		border: 2px solid red;
	position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		border: 2px solid pink;
	display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		border: 2px solid blue;
	text-align: left !important;
		font-size: 22px;
		padding-left: 20px;
		line-height: 50px !important;
	}
}
@media (min-width: 767px) {
	.nav-side-menu .menu-list .menu-content {
		border: 2px solid yellow;
	display: block;
	}
}