@media (min-width:767px){
    /*menu*/
    .nav-side-menu > .toggle-btn{ display: none !important; }
    .brand{
        background-color: #01395e;
        width: 180px;
        text-align: center;
        padding: 2px;
    }
    .menu-list{
        background-color: #008080;
        width: 180px;
    }
    .menu-list>.menu-content{
        padding:0px;
        display: block;
    }
    .menu-list>.menu-content>li{ 
        line-height: 2em; 
    }
    .menu-list>.menu-content>li>a{
        color: #fff;
        _position: fixed;
        width: 180px;
        text-decoration: none;
    }
    .menu-list>.menu-content>li>a:hover{
        background-color: darkseagreen;
        font-weight: bold;
        border-left: 5px solid #fff;
        border-right: 4px solid #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .menu-list>.menu-content>li>a>i{ padding: 5px; }
    
    /*sub menu*/
     .menu-list>.menu-content>ul{ padding:0px; }
    .menu-list>.menu-content>ul>li{ line-height: 2em; }
    .menu-list>.menu-content>ul>li>a{
        color: #fff;
        position: absolute;
        width: 100%;
        text-decoration: none;
    }
    .menu-list>.menu-content>ul>li>a>i{ padding: 5px; }
    .menu-list>.menu-content>ul>li>a:hover{
        background-color: darkseagreen;
        font-weight: bold;
        border-left: 5px solid #fff;
        border-right: 4px solid #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
}
/*************************************************/
/*    MOBILE */
/**************************************************/
@media (max-width:766px){
    /*menu*/
    .nav-side-menu > .toggle-btn{
        display: block;
        position: absolute;
        right: 5px;
        top: 3px;
        color: #fff;
        border-radius: 0px;
        cursor: pointer;
        z-index: 10 !important;
        background-color: #fff;
        color: #008080;
        text-align: center;
        width: 35px;
    }
    .brand{
        background-color: #01395e;
        height: 35px;
        padding-top: 2px;
        padding-left: 5px;
    }
    .menu-list{ background-color: #008080; }
    .menu-list>.menu-content{ padding:0px; }
    .menu-list>.menu-content>li{ line-height: 2em; }
    .menu-list>.menu-content>li>a{
        color: #fff;
        position: absolute;
        width: 100%;
        text-decoration: none;
    }
    .menu-list>.menu-content>li>a:hover{
        background-color: darkseagreen;
        font-weight: bold;
        border-left: 5px solid #fff;
        border-right: 4px solid #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .menu-list>.menu-content>li>a>i{ padding: 5px; }
    
    /*sub menu*/
     .menu-list>.menu-content>ul{ padding:0px; }
    .menu-list>.menu-content>ul>li{ line-height: 2em; }
    .menu-list>.menu-content>ul>li>a{
        color: #fff;
        position: absolute;
        width: 100%;
        text-decoration: none;
    }
    .menu-list>.menu-content>ul>li>a>i{ padding: 5px; }
    .menu-list>.menu-content>ul>li>a:hover{
        background-color: darkseagreen;
        font-weight: bold;
        border-left: 5px solid #fff;
        border-right: 4px solid #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    
}