.ca-menu{
	position: relative;
    padding:40px 25px 25px 70px;
    width: 100%;
}
.ca-menu .partno,
.ca-menu .picking,
.ca-menu .install,
.ca-menu .checked,
.ca-menu .replace,
.ca-menu .viewer,
.ca-menu .limit{
	width: 380px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float:left;
    margin: 4px;
}
.ca-menu .partno {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 3px rgba(0,0,0,0.2), 1px 0 2px rgba(0,0,0,0.2);
}
.ca-menu .picking {
   -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 3px rgba(0,0,0,0.2), 1px 0 2px rgba(0,0,0,0.2);
}
.ca-menu .install {
   -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 3px rgba(0,0,0,0.2), 1px 0 2px rgba(0,0,0,0.2);
}
.ca-menu .checked {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 3px rgba(0,0,0,0.2), 1px 0 2px rgba(0,0,0,0.2);
}
.ca-menu .replace {
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 3px rgba(0,0,0,0.2), 1px 0 2px rgba(0,0,0,0.2);
}
.ca-menu .limit {
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2), -1px 0 2px rgba(0,0,0,0.2);
}
.ca-menu .viewer {
   -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2), -1px 0 2px rgba(0,0,0,0.2);
}

.ca-menu li a{
	text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-menu li:hover {
	z-index:999;
    opacity: 0.8;
}
.ca-menu .partno { background-color: #004d33; }
.ca-menu .picking,.ca-menu .picking2,.ca-menu .viewer { background-color: #00b0ff; }
.ca-menu .install,.ca-menu .install2{ background-color: #ff9800; }
.ca-menu .checked { background-color: #34A853; }
.ca-menu .replace { background-color: #dd2c00; }
.ca-menu .limit { background-color: #EA4335; }

.ca-menu .partno a,
.ca-menu .picking a,.ca-menu .picking2 a,
.ca-menu .install a,.ca-menu .install2 a,
.ca-menu .checked a,
.ca-menu .replace a,
.ca-menu .viewer a,
.ca-menu .limit a{
	color:white;
}
.ca-menu .partno:hover,
.ca-menu .picking:hover,.ca-menu .picking2:hover,
.ca-menu .install:hover,.ca-menu .install2:hover,
.ca-menu .checked:hover,
.ca-menu .replace:hover,
.ca-menu .viewer:hover,
.ca-menu .limit:hover {
	background-color: #fff;
}
.ca-menu .partno a:hover{ color: #004d33; }
.ca-menu .picking a:hover,.ca-menu .viewer a:hover, .ca-menu .picking2 a:hover{color: #00b0ff; }
.ca-menu .install a:hover, .ca-menu .install2 a:hover {color: #ff9800; }
.ca-menu .checked a:hover{color: #34A853; }
.ca-menu .replace a:hover{color: #dd2c00; }
.ca-menu .limit a:hover{color: #EA4335; }


.boxmenu{
	font-size: 100px;
	position: absolute;
    width: 100px;
    height: 100px;
    left: 150px;
    top: 20px;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}
.ca-main{
	font-size: 30px;
    opacity: 0.8;
    text-align: center;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    opacity: 0.8;
}

/** 2  **/
.ca-menu .picking2,.ca-menu .install2{
	width: 767px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float:left;
    margin: 4px;
}
.ca-menu .picking2,.ca-menu .install2 {
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2), -1px 0 2px rgba(0,0,0,0.2);
}
.boxmenu2{
	font-size: 100px;
	position: absolute;
    width: 100px;
    height: 100px;
    left: 330px;
    top: 20px;
}